 <section>
    <!-- <article>
        <h3>
            Interpolation / interpolação
        </h3>
        <p>String renderizada com interporlação: {{ url }}</p>
        <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor() }}</p>
        <p>gosto Angular : {{ cursoAngular && getCurtircurso() }}</p>
    </article>

    <article>
        <h3>
            Property Bind
        </h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article> -->
<!-- 
    <article class="container">
        <h3>
            Class & Style binding
        </h3>
       <div>
           Selecione uma opção
           <select name="" id="" #classe (change)="0">
               <option value="alert-success">Sucesso</option>
               <option value="alert-info">Info</option>
               <option value="alert-warning">Alerta</option>
               <option value="alert-danger">Erro</option>
           </select>
           <hr>

           <div class="alert {{classe.value}}" role="alert">
            texto colorido de acordo com o combobox
           </div>

          <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
            This is a success alert—check it out!
          </div>
          <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
            This is a danger alert—check it out!
          </div>
          <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
            This is a warning alert—check it out!
          </div>
          <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
            This is a info alert—check it out!
          </div>

          Só aparece se for selecionadoo danger
          <div class="alert" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            só aparece em caso de erro
          </div>
       </div>
    </article>
    -->
    <!-- <article class="container">
      <h3>
          Event binding
      </h3>

      <div>
        <button class="btn btn-primary" (click)="botaoclicado()">Me clique </button>
      </div>

      <br><br>
      <input class="form-control" type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput
      >
      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>
      <br>
      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>
      
  </article> -->

  <app-meu-form></app-meu-form>
  
  </section>