 <section>
    <!-- <article>
        <h3>
            Interpolation / interpolação
        </h3>
        <p>String renderizada com interporlação: {{ url }}</p>
        <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor() }}</p>
        <p>gosto Angular : {{ cursoAngular && getCurtircurso() }}</p>
    </article>

    <article>
        <h3>
            Property Bind
        </h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article> -->

    <article class="container">
        <h3>
            Class & Style binding
        </h3>
       <div>
           Selecione uma opção
           <select name="" id="" #classe (change)="0">
               <option value="alert-success">Sucesso</option>
               <option value="alert-innfo">Info</option>
               <option value="alert-waring">Alerta</option>
               <option value="alert-danger">Erro</option>
           </select>
           <hr>
          <div class="alert" role="alert">
            This is a success alert—check it out!
          </div>
          <div class="alert" role="alert">
            This is a danger alert—check it out!
          </div>
          <div class="alert" role="alert">
            This is a warning alert—check it out!
          </div>
          <div class="alert" role="alert">
            This is a info alert—check it out!
          </div>
       </div>
    </article>
</section>